@function px2rem($px){
	$rem: 37.5px;
	@return ($px / $rem) + rem;
}

html{
	background-color:#f8f8f8;
}

header{
	height:px2rem(40px);
	width:100%;
	background:red;
	padding-left:px2rem(40px);
	box-sizing:border-box;
	.header-item{
		font-size:px2rem(16px);
		color:#ffcdce;
		float:left;
		margin-right:px2rem(20px);
		line-height:px2rem(40px);

		&:nth-child(2){
			color:#fff;
			font-size:px2rem(17px);
		}
	}
}

.banner-content{
	position:relative;
	height:px2rem(190px);
	&:before{
		content:'';
		display:block;
		overflow:hidden;
		font-size:1px;
		clear:both;
		zoom:1;
	}
	.banner-one{
		width:100%;
		position:absolute;
		top:0px;
		left:0px;
		&:nth-child(2){opacity: 0}
		&:nth-child(3){opacity: 0}
	}
	.banner{
		width:100%;
		height:px2rem(190px);
		display:block;
	}
	.banner-title{
		font-size:px2rem(16px);
		color:#333;
		margin-top:px2rem(-30px);
		margin-left:px2rem(15px);
		/*position: absolute;
		left:px2rem(15px);
		bottom:px2rem(15px);*/
	}
	.cir-content{
		position:absolute;
		height:px2rem(14px);
		right:px2rem(15px);
		bottom:px2rem(15px);
	}
	.cir{
		width:px2rem(14px);
		height:100%;		
		border-radius: 50%;
		float:left;	
		margin-left:px2rem(10px);
		background-color: rgba(0,0,0,0.6)
	}	
}

.news-content{
	.news-item{
		width: 100%;
		height:px2rem(90px);
		padding-left:px2rem(15px);
		padding-right:px2rem(15px);
		box-sizing:border-box;/*padding不增加宽度*/
	}
	.item-inner{
		position:relative;
		overflow:hidden;
		height:100%;
		border-bottom:px2rem(1px) solid #e5e5e5;
	}
	.news-image{
		width:px2rem(95px);
		height:px2rem(70px);
		display: block;
		margin-top:px2rem(10px);
		margin-right:px2rem(15px);
		float:left;
	}
	.news-title{
		colo:#404040;
		font-size:px2rem(17px);
		margin-top:px2rem(16px);
		line-height:px2rem(20px);
	}
	.time{
		position:absolute;
		left:px2rem(105px);
		bottom:px2rem(17px);
		color:#888;
		font-size:px2rem(12px);
	}
	.num{
		position: absolute;
		right:px2rem(4px);
		bottom:px2rem(17px);
		color:#888;
		font-size:px2rem(12px);

		&:before{
			content:'';
			display:block;
			position:absolute;
			top:px2rem(-4px);
			left:px2rem(-23px);
			width:px2rem(21px);
			height:px2rem(18px);
			background-size: contain;
			background-image:url('../images/read-icon.jpg');
		}
	}
}